#dp {
    border-radius:50%;
    width:25%;
    border:8px solid #ffffff;
}

body{
    background-color:#dbdbdb;
}

#about{
    color:black;
}

#space{
    background-color:white;
    margin-top:2%;
    margin-bottom:2%;
}

#blurb{
    font-size:150%;
}

#YouTubeC{
    width:30%;
}